- var columnsLayout = true
#results-container
  .col-md-12
    .row
      h1=t('results.title')
    .row.hidden-sm.hidden-xs
      h4!=t('results.subtitle')
  .share-links.col-sm-12.text-center.container
    .row
      .col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.hidden-xs.text-right
        a(target="_blank", href="https://www.facebook.com/dialog/share?app_id=666616040102468&display=page&href=http%3A%2F%2Fdemos.legislatura.gov.ar&redirect_uri=http%3A%2F%2Fdemos.legislatura.gov.ar").flaticon.social.facebook
        a(target="_blank", href="http://twitter.com/share?text=#{t('results.share.text.twitter')}&url=#{t('results.share.url')}").flaticon.social.twitter
        a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}").flaticon.social.google-plus
      .col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.hidden-sm.hidden-md.hidden-lg.text-center
        a(target="_blank", href="https://www.facebook.com/dialog/share?app_id=666616040102468&display=popup&href=http%3A%2F%2Fdemos.legislatura.gov.ar&redirect_uri=http%3A%2F%2Fdemos.legislatura.gov.ar").flaticon.social.facebook
        a(target="_blank", href="http://twitter.com/share?text=#{t('results.share.text.twitter')}&url=#{t('results.share.url')}").flaticon.social.twitter
        a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}").flaticon.social.google-plus
      .col-lg-4.col-md-4.text-left.share-message.hidden-xs #{t('results.social')}
      .col-xs-12.col-sm-6.col-md-3.text-center.share-message.hidden-sm.hidden-md.hidden-lg #{t('results.social')}
  .container
    .row.winners
      h2.text-center Los que pasaron a la segunda vuelta
      .laws.col-xs-12.col-sm-12.col-md-12
    .row.nexttime
      h2.text-center Mejor suerte para la próxima...
      .laws.col-xs-12.col-sm-12.col-md-12