- var columnsLayout = true
#summary-container
  .col-md-12
    .row
      h1=t('summary.title')
    .row
      h4!=t('summary.subtitle')
  .share-links.col-md-8.col-md-offset-2
    .col-md-4.text-right
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}").flaticon.social.facebook
      a(target="_blank", href="http://twitter.com/share?text=#{t('summary.share-text')}&url=#{baseUrl}").flaticon.social.twitter
      a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}").flaticon.social.google-plus
    .col-md-4.text-left.share-message #{t('summary.social')}
  .laws.col-md-12