- var columnsLayout = true
#summary-container
  .col-md-12
    .row
      h1=t('summary.title')
    .row.hidden-sm.hidden-xs
      h4!=t('summary.subtitle')
  .share-links.text-center
    .col-xs-12.col-sm-12.col-lg-12.col-md-12.share-links-container
      .col-lg-offset-2.col-lg-3.col-md-offset-2.col-md-3.hidden-xs.hidden-sm.text-right
        a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}").flaticon.social.facebook
        a(target="_blank", href="http://twitter.com/share?text=#{t('summary.share-text')}&url=#{baseUrl}").flaticon.social.twitter
        a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}").flaticon.social.google-plus
      .col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.hidden-md.hidden-lg.text-center.share-links-container
        a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}").flaticon.social.facebook
        a(target="_blank", href="http://twitter.com/share?text=#{t('summary.share-text')}&url=#{baseUrl}").flaticon.social.twitter
        a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}").flaticon.social.google-plus
      .col-lg-4.col-md-4.text-left.share-message.hidden-sm.hidden-xs #{t('summary.social')}
      .col-xs-12.col-sm-12.col-md-3.text-center.share-message.hidden-md.hidden-lg #{t('summary.social')}
  .row
    .laws.col-xs-12.col-sm-12.col-md-12