- var closed = proposal.closed
- var isTwitter = proposal.authorUrl && !!~proposal.authorUrl.indexOf('twitter.com')
- if (isTwitter)
  - var twitter = proposal.authorUrl.split('twitter.com/')[1]

.inner-container
  article.proposal.commentable-container
    //- .meta-information
    //-   a.meta-item.meta-location(href="#") Buenos Aires, Argentina
    //-   small.meta-item.meta-timeago 10 days left

    h1=proposal.mediaTitle
    .author-wrapper
      .author
        a(href='#{proposal.authorUrl}', target='_blank')
          img(src=proposal.authorPictureUrl)
        p
          span=t('admin-laws-form.label.author') + ': '
          a(href=proposal.authorUrl, target='_blank')=proposal.author
        p
          span=t('admin-laws-form.label.party') + ': '
          a(href=proposal.phaseOne.partyUrl, target='_blank')=proposal.phaseOne.party
        - if (isTwitter)
          //- var twitter = proposal.authorUrl.split('twitter.com/')[1]
          - var tweet = 'Hola @' + twitter + '! Quiero decirte algo sobre tu proyecto '
          - tweet = '%23YoVoto ' + encodeURI(tweet)
          - var url = 'http://twitter.com/share?text=' + tweet
        - else
          - var url = proposal.authorUrl
        a.flaticon.social.btn.btn-link.btn-talk(target="_blank", href=url, class= isTwitter ? 'twitter' : '')=t('bill-proposal.talk-to-the-author')

    - if (proposal.picture)
      .pic(style="background-image: url(#{proposal.picture})")
        span

    h3=proposal.title
    .entry-content
      - var summary = proposal.summary
      - var paragraphs = summary.split("\n")
      .summary
        - each p, i in paragraphs
          - if (p != '')
            p.commentable-section(data-section-id=proposal.id + '-' + i)!=p


      .clauses
        - if (clauses.length)
          - each clause, i in clauses
            - var classes = ['hide']
            - classes.push(clause.centered ? 'text-center' : '')
            - var text = (clause.clauseName ? clause.clauseName + ': ' : '') + clause.text
            p.clause.commentable-section(class=classes, data-section-id=clause.id)!=text
          - if (clauses.length > 0)
            - if (proposal.clauseTruncationText)
              a.read-more(href="#")= proposal.clauseTruncationText
            - else
              a.read-more(href="#")= t('read more')

    //- Article source
    - if (proposal.source)
      .source
        p
          span.glyphicon.glyphicon-link
          a(target="_blank", href="#{proposal.source}")
           | #{t('View the original text')}

    //- Article links
    - if (proposal.links && proposal.links.length)
      .links
        h5=t('More information')
        - each link in proposal.links
          p
            span.glyphicon.glyphicon-share
            a(target="_blank", href=link.url)=link.text

    //- Article participants
    .participants
      //- Rendered by participants view

    //- Article share links
    .share-links
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/law/#{proposal.id}").flaticon.social.facebook  
      a(target="_blank", href="http://twitter.com/share?text=Estamos%20debatiendo%20%22#{proposal.phaseOne.mediaTitle}.%20Particip%C3%A1%20vos%20tambi%C3%A9n%20%23YoVoto%20%40#{twitter}&url=http://demos.legislatura.gov.ar").flaticon.social.twitter  
      a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}/law/#{proposal.id}").flaticon.social.google-plus 
