- var voted = citizen.logged() && !!item.voted

li(data-id=item.id)
  a(href='/#{listType}/'+item.id, class = voted ? 'voted' : '')
    span.title= item.mediaTitle
    span.created-by
      - if (item.participants.length > 0)
        - var plural = 1 === item.participants.length ? '' : 's'
        div= item.participants.length + ' ' + t('Participant') + plural
      - if (item.closingAt)
        - var closed = item.closingAt && +new Date(item.closingAt) < Date.now()
        span.time-ago-label= (closed ? t('Closed') : t('Close')) + ' '
        span.meta-item.meta-timeago.ago(data-time=item.closingAt.toString())